{% set recipe_count = SCENES | map(attribute="recipesets") |
                      map("map", "length") | map("sum") | sum %}
{% set tree_list = SCENES | map(attribute="tree") | unique | list %}
{% set arch_list = SCENES | map(attribute="arch") | unique | list %}
{% set kernel_list = SCENES | map(attribute="kernel") | unique | list %}
{% set one_tree = tree_list[0] if tree_list | length == 1 else None %}
{% set one_arch = arch_list[0] if arch_list | length == 1 else None %}
{% set one_kernel = kernel_list[0] if kernel_list | length == 1 else None %}
{# #}
{% macro boot_test_task(kernel) -%}
    <task name="Boot test" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/kpkginstall"/>
      <params>
        <param name="CKI_NAME" value="Boot test"/>
        <param name="CKI_UNIVERSAL_ID" value="boot"/>
        <param name="CKI_MAINTAINERS" value="Bruno Goncalves &lt;bgoncalv@redhat.com&gt; / bgoncalv"/>
        <param name="KPKG_URL" value="{{ kernel }}"/>
        <param name="KILLTIMEOVERRIDE" value="3600"/>
      </params>
    </task>
{% endmacro %}
{# #}
{% macro test_tasks(test) -%}
  {% if VARIABLES.coverage == "true" %}
    <!--generate base .info coverage data labeled TEST_NAME-->
    <task name="/kernel/kcov/start" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/start"/>
      <params>
        <param name="TEST_NAME" value="{{ test.name | e }}"/>
      </params>
    </task>
  {% endif %}
  <task name="{{ test.name }}" role="{{ test.role }}">
    {% if test.origin == "suites_zip" %}
      <fetch url="{{ VARIABLES.suites_zip_url }}#{{ test.location }}"/>
    {% elif test.origin == "kernel_tests" %}
      <fetch url="{{ VARIABLES.kernel_tests_url }}#{{ test.location }}"/>
    {% endif %}
    <params>
      <param name="CKI_NAME" value="{{ test.name | e }}"/>
      {% if test.universal_id is not none %}
        <param name="CKI_UNIVERSAL_ID" value="{{ test.universal_id | e }}"/>
      {% endif %}
      {% if test.waived %}
        <param name="CKI_WAIVED" value="{{ test.waived }}"/>
      {% endif %}
      {% if test.maintainers %}
        {% set sep = joiner(", ") %}
        <param name="CKI_MAINTAINERS" value="
          {%- for m in test.maintainers -%}
            {{- sep() -}}
            {{- "%s <%s>" | format(m.name, m.email) | e -}}
            {%- if 'gitlab' in m -%}
              {{- (" / " + m.gitlab) | e -}}
            {%- endif -%}
          {%- endfor -%}
        "/>
      {% endif %}
      <param name="CKI_SELFTESTS_URL" value="{{ VARIABLES.selftests_url }}"/>
      <param name="KILLTIMEOVERRIDE" value="{{ test.max_duration_seconds }}"/>
      {% for name, value in test.environment.items() %}
        <param name="{{ name }}" value="{{ value }}"/>
      {% endfor %}
    </params>
  </task>
  {% if VARIABLES.coverage == "true" %}
    <!--generate end .info and merge with base .info of TEST_NAME-->
    <task name="/kernel/kcov/end" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/end"/>
      <params>
        <param name="TEST_NAME" value="{{ test.name | e }}"/>
      </params>
    </task>
  {% endif %}
{% endmacro %}
{# #}
{% macro recipe(host, kernel, tree, arch, distro_requires="", host_requires="", kernel_options="", kernel_options_post="", ks_append="", repos="") %}
  {% set TREE = tree %}
  {% set ARCH = arch %}
  <!-- host type: {{ host.type_name }} -->
  {# NOTE(rasibley): Omits the fedora-updates repo for Fedora, see bz 1734557 #}
  <!--Set selinux to permissive mode to get all avc denials in one fell swoop-->
  <recipe ks_meta="{% if not TREE.startswith("rhel5") and not TREE.startswith("rhel6") %}redhat_ca_cert {% endif %}harness='restraint-rhts beakerlib-redhat' selinux=--permissive" kernel_options="{{- kernel_options -}}" kernel_options_post="{{- kernel_options_post -}}">
    <distroRequires>
      <distro_arch op="=" value="{{ ARCH }}"/>
      {{- distro_requires -}}
    </distroRequires>
    {% if VARIABLES.hostname %}
      <hostRequires force="{{ VARIABLES.hostname }}" />
    {% elif host['hostname'] %}
      <hostRequires force="{{ host['hostname'] }}" />
    {% else %}
      <hostRequires>
        {% for bus in VARIABLES.device_buses.split(',') if VARIABLES.device_buses %}
          <device op="=" bus="{{ bus }}" />
        {% endfor %}
        {% for driver in VARIABLES.device_drivers.split(',') if VARIABLES.device_drivers %}
            <device op="=" driver="{{ driver }}" />
        {% endfor %}
        {% for type in VARIABLES.device_types.split(',') if VARIABLES.device_types %}
            <device op="=" type="{{ type }}" />
        {% endfor %}
        <arch op="=" value="{{ ARCH }}"/>
        {% if ARCH == "x86_64" %}
          <not>
            <or>
              {# NOTE(mhayden): Exclude XCI machines from test jobs since they #}
              {# are not actively maintained by anyone. #}
              <hostname op="like" value="xci%"/>
              <hostname op="=" value="c101.xci.lab.eng.rdu2.redhat.com"/>
              <hostname op="=" value="c106.xci.lab.eng.rdu2.redhat.com"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH == "aarch64" %}
          <not>
            <or>
              <hostname op="like" value="hpe-comanche%"/>
              <hostname op="like" value="dell-venom%"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH == "s390x" %}
          <not>
            <or>
              {# NOTE(bgoncav): provisioning of these kernelci machines are not reliable #}
              <hostname op="like" value="kernelci-%.s390.bos.redhat.com"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH != "s390x" %}
          <or>
            <labcontroller op="=" value="lab-02.rhts.eng.bos.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.rdu.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.brq.redhat.com"/>
          </or>
        {% endif %}
        {%- if host.not_hostnames -%}
          <not>
            <or>
              {%- for hostname in host.not_hostnames -%}
                <hostname op="=" value="{{ hostname }}"/>
              {%- endfor -%}
            </or>
          </not>
        {%- endif -%}
        {%- for template in host.host_rejects_list -%}
          <not>
            {%- include template -%}
          </not>
        {%- endfor -%}
        {%- for template in host.host_requires_list -%}
          {%- include template -%}
        {%- endfor -%}
        {{- host_requires -}}
      </hostRequires>
    {% endif %}
    <repos>
      {{- repos -}}
    </repos>
    <partitions>
      {%- for template in host.partitions_list -%}
        {%- include template -%}
      {%- endfor -%}
    </partitions>
    <ks_appends>
      <ks_append><![CDATA[
%post
set -x
sed -i 's/^#DefaultTasksMax.*/DefaultTasksMax=50%/' /etc/systemd/system.conf
# Patch restraint's localwatchdog plugin to abort the recipe instead of warning,
# when a task goes over KILLTIMEOVERRIDE. See FASTMOVING-886 and FASTMOVING-1224.
sed -i 's|rstrnt-reboot|rstrnt-abort --server $RSTRNT_RECIPE_URL/tasks/$TASKID/status\nrstrnt-reboot|' /usr/share/restraint/plugins/localwatchdog.d/99_reboot

# add restraint plugins to get console log for each task
# https://restraint.readthedocs.io/en/latest/plugins.html
cat > /usr/share/restraint/plugins/task_run.d/30_init_test_console_log << EOF
#!/bin/sh
if [ -z "\${LAB_CONTROLLER}" ] || [ -z "\${RSTRNT_RECIPEID}" ] || [ -z "\${RSTRNT_TASKID}" ]; then
    # not automated job in beaker
    exec "\$@"
    exit 0
fi
# Don't run from PLUGINS
if [ -n "\$RSTRNT_NOPLUGINS" ]; then
    exec "\$@"
    exit 0
fi
mkdir -p /var/opt/cki/\${RSTRNT_TASKID}
_cki_init_file=/var/opt/cki/\${RSTRNT_TASKID}/init_console.log
if [ ! -e \${_cki_init_file} ]; then
    # save the log the first time the task starts. Don't override the file in case of reboot.
    curl --silent --show-error --retry 5 "http://\${LAB_CONTROLLER}:8000/recipes/\${RSTRNT_RECIPEID}/logs/console.log" -o \${_cki_init_file}
fi
exec "\$@"
EOF
chmod +x /usr/share/restraint/plugins/task_run.d/30_init_test_console_log

# plugins under completed.d should run even in case of localwatchdog
cat > /usr/share/restraint/plugins/completed.d/80_finish_console_log << EOF
#!/bin/sh
if [ -z "\${LAB_CONTROLLER}" ] || [ -z "\${RSTRNT_RECIPEID}" ] || [ -z "\${RSTRNT_TASKID}" ]; then
    # not automated job in beaker
    exit 0
fi
_cki_init_file=/var/opt/cki/\${RSTRNT_TASKID}/init_console.log
_cki_end_file=/var/opt/cki/\${RSTRNT_TASKID}/end_console.log
_cki_console_file=/var/opt/cki/\${RSTRNT_TASKID}/test_console.log
if [ ! -e \${_cki_init_file} ]; then
    exit 0
fi
# there is some delay on console.log
sleep 15
curl --silent --show-error --retry 5 "http://\${LAB_CONTROLLER}:8000/recipes/\${RSTRNT_RECIPEID}/logs/console.log" -o \${_cki_end_file}
diff --changed-group-format='%>' --unchanged-group-format='' \${_cki_init_file} \${_cki_end_file} > \${_cki_console_file}
# if the file is empty restraint will skip the upload
rstrnt-report-log -l "\${_cki_console_file}"
EOF
chmod +x /usr/share/restraint/plugins/completed.d/80_finish_console_log

{% if not TREE.startswith("rhel5") and not TREE.startswith("rhel6") %}
# Patch restraintd service to continue after OOM, some tests generate OOM and restraintd should continue to run
sed -i '/OOMScoreAdjust=.*/a OOMPolicy=continue' /usr/lib/systemd/system/restraintd.service
{% endif %}
{# NOTE(rasibley): Add RHEL5 Red Hat CA Cert #}
{% if TREE.startswith("rhel5") %}
wget -O  /etc/pki/tls/certs/RH-IT-Root-CA.crt https://password.corp.redhat.com/RH-IT-Root-CA.crt
cacertdir_rehash /etc/pki/tls/certs
{% endif %}
{# NOTE(bgoncalv): Add RHEL6 Red Hat CA Cert #}
{% if TREE.startswith("rhel6") %}
curl -L --retry 20 --remote-time -o /etc/pki/ca-trust/source/anchors/RH-IT-Root-CA.crt https://password.corp.redhat.com/RH-IT-Root-CA.crt
update-ca-trust enable
update-ca-trust extract
{% endif %}
{# NOTE(rasibley): Silence dmesg warnings for known issues #}
mkdir -p /usr/share/rhts/
cat >/usr/share/rhts/falsestrings <<EOF
BIOS BUG
DEBUG
mapping multiple BARs.*IBM System X3250 M4
MAX_LOCKDEP_CHAIN_HLOCKS
BUG: KASAN: use-after-free in string_nocheck
watchdog: BUG: soft lockup - CPU
EOF
{% if TREE.endswith("rt") %}
echo "isolated_cores=" >> /etc/tuned/realtime-variables.conf
{% endif %}
%end
]]></ks_append>
      {%- for template in host.kickstart_list -%}
        {%- include template -%}
      {%- endfor -%}
      {{- ks_append -}}
    </ks_appends>
    {% if host.ignore_panic %}
      <watchdog panic="ignore"/>
    {% endif %}
    <task name="SELinux Custom Module Setup" role="None">
      <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/selinux-custom-modules"/>
      <params/>
    </task>
    <task name="/distribution/check-install" role="STANDALONE">
      <fetch url="https://github.com/beaker-project/beaker-core-tasks/archive/master.zip#check-install"/>
      <params/>
    </task>
    {# NOTE(rasibley): upstream jobs require latest kmod #}
    {% if TREE == "upstream" %}
    <task name="/distribution/command" role="STANDALONE">
        <params>
          <param name="TESTARGS" value="dnf update -y kmod --enablerepo=updates-testing"/>
        </params>
      </task>
    {% endif %}
    {# NOTE(mhayden): Workaround for ppc64le + 4.20. BZ 1647947. #}
    {% if ARCH == "ppc64le" and not TREE.startswith("rhel7") %}
      <task name="/distribution/command" role="None">
        <params>
          <param name="CMDS_TO_RUN" value="echo 'net.core.bpf_jit_limit = 262144000' | tee -a /etc/sysctl.d/ppc64le-bpf-jit-fix.conf"/>
        </params>
      </task>
    {% endif %}
    <task name="/test/misc/machineinfo">
      <fetch url="{{ VARIABLES.suites_zip_url }}#test/misc/machineinfo"/>
    </task>
    {% if host.preboot_tasks %}
      {% include host.preboot_tasks %}
    {% endif %}
    {{- boot_test_task(kernel) -}}
    <task name="Reboot test" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#misc/reboot-test"/>
      <params>
        <param name="CKI_NAME" value="Reboot test"/>
        <param name="CKI_UNIVERSAL_ID" value="reboot_test"/>
        <param name="CKI_MAINTAINERS" value="Bruno Goncalves &lt;bgoncalv@redhat.com&gt; / bgoncalv"/>
        <param name="KILLTIMEOVERRIDE" value="3600"/>
      </params>
    </task>
    {% if VARIABLES.coverage == "true" %}
      <task name="/kernel/kcov/prepare" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/prepare"/>
        <params>
          <!--don't log .info file for every test to decrease size of artifacts-->
          <param name="ONLY_FINAL_INFO" value="true"/>
          <!--assign all possible KDIR values to workaround bug for empty value-->
          <param name="KDIR" value="arch, block, certs, crypto, drivers, fs, init, ipc, kernel, mm, net, security"/>
        </params>
      </task>
    {% endif %}
    {% if host.postboot_tasks %}
      {% include host.postboot_tasks %}
    {% endif %}
    {% for test in host.tests %}
      {{- test_tasks(test) -}}
    {% endfor %}
    {% if VARIABLES.coverage == "true" %}
      <!--combine all coverage files for the recipe into one. Generate html tgz
          if this is the only recipe-->
      <task name="/kernel/kcov/finalize" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/finalize"/>
        <params>
          <param  name="KILLTIMEOVERRIDE" value="{{ host.tests|length * 600 }}"/>
          {% if recipe_count == 1 %}
            <param name="CKI_COVERAGE_TGZ" value="true"/>
          {% else %}
            <param name="NO_HTML" value="true"/>
          {% endif %}
        </params>
      </task>
    {% endif %}
  </recipe>
{% endmacro %}
{# #}
<?xml version="1.0" encoding="UTF-8"?>
<job retention_tag="60days" group="{{ VARIABLES.job_group }}">
  <whiteboard>{{ DESCRIPTION }}</whiteboard>

  {#
    Collect recipesets and their scenes into a flat list, so that we can sort
    recipesets by their host types to maintain stable output order and
    simplify tracking both kpet and kpet-db changes.
  #}
  {# TODO Switch back to SCENE/recipeset iterating after changes are done #}
  {% set host_types_scene_recipesets = [] %}
  {% for scene in SCENES %}
    {% for recipeset in scene.recipesets %}
      {% set _ = host_types_scene_recipesets.append({
          "types": recipeset | map(attribute="type_name") | join("\n"),
          "scene": scene,
          "recipeset": recipeset
         })
      %}
    {% endfor %}
  {% endfor %}

  {# Build recipeSets of normal host types #}
  {% for host_types_scene_recipeset in
         host_types_scene_recipesets |
         sort(attribute="types", case_sensitive=True) %}
    {% set scene = host_types_scene_recipeset.scene %}
    {% set recipeset = host_types_scene_recipeset.recipeset %}
    {% set TREE = scene.tree %}
    {% set ARCH = scene.arch %}
    {% import "trees/" + TREE + ".j2" as tree with context %}
    <recipeSet>
      {% for host in recipeset %}
        {{- recipe(host=host,
                   kernel=scene.kernel,
                   tree=scene.tree,
                   arch=scene.arch,
                   distro_requires=tree.distro_requires | default(""),
                   host_requires=tree.host_requires | default(""),
                   kernel_options=tree.kernel_options | default(""),
                   kernel_options_post=tree.kernel_options_post | default(""),
                   ks_append=tree.ks_append | default(""),
                   repos=tree.repos | default("")) -}}
      {% endfor %}
    </recipeSet>
  {% endfor %}
</job>
