<and>
  <hypervisor op="=" value=""/>
  <cpu><model_name op="like" value="%Intel%"/></cpu>
</and>
<not>
  <or>
    {# Unsupported Hosts/Broken Hosts #}
    <hostname op="like" value="dell-pesc%"/>
    <hostname op="like" value="hp-moonshot%"/>
    <hostname op="like" value="ibm-x3250%"/>
    <hostname op="like" value="dell-pec6220%"/>
  </or>
</not>
